* {
  margin: 0px;
  padding: 0px;
}

.cabecera h1 {
  background: #50aa82;
  text-align: center;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  padding-top: 50px;
}

.cabecera h3{
  background: #50aa82;
  text-align: center;
  font-size: 20px;
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
  padding-bottom: 40px;
}

.cabecera {
  background: #50aa82;
  border: 1px solid #999999;
  padding: 20px;
}

nav {
  display: flex;
  align-items:center;
  justify-content: space-around;
  min-height:8vh;
  background-color: #282828;
}

main {
  background-color: #f3f3f3;
}

.ham {
  display:none;
  background-color:transparent;
  cursor: pointer;
  border:none;
  margin:0;
  padding:0;
}
  
.ham span {
  background-color: #f3f3f3;
  display:block;
  height:3px;
  width: 28px;
  margin:10px auto;
  border-radius:2px;    
}

.enlaces-menu {
  display:flex;
  padding:0;
}

.enlaces-menu li {
  padding: 0 40px;
  list-style-type: none;
  transition: 0.3s;
}

.enlaces-menu li a {
  font-family: 'Questrial', sans-serif;
  text-decoration:none;
  font-size: 12.5px;
  color:#f3f3f3;
  font-weight:10;
}

.enlaces-menu li:hover {
  background-color: #999999;
}


/* DISPOSITIVOS MOVILES */

@media (max-width:768px) {
  
body{
  overflow:hidden;
}
    
.ham{
  display:block;
  cursor:pointer;
  position: absolute; 
  top:15px;
  right:25px;
  transition: 0.2s  0.1s; 
}
 
nav {
  flex-direction:column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.enlaces-menu{
  flex-direction:column;
  justify-content: space-around;
  align-items:center;
  height: 56vh;         
  margin:0;
  padding:0; 
  display:none;
  opacity:0;
  transition: opacity 5s ease-out;
  width:100%;
}

.enlaces-menu li{
  text-align:center;
  width:100%;
  padding:20px;    
}

}

/* Animaciones */

@keyframes muestraMenu {
  from {opacity: 0;}
  to {opacity: 1;}
}

.enlaces-menu.activado{
    display:flex; 
    animation: muestraMenu 350ms ease-in-out both;
}

.br-1.animado{
  transform: rotate(-45deg) translate(-10px, 8px);
}

.br-2.animado{
  opacity: 0;
}
.br-3.animado{
  transform: rotate(45deg) translate(-10px, -8px);
}

.ham.girar:hover{
   transform:rotate(360deg);
}

.contenido {
  width: 80%;
  margin: auto;
  background: #292929;
  padding: 20px;
}

.imgc {
  text-align: center;
  width: 80%;
  margin: auto;
}
.parrafo {
  color: transparent;

}

.pie {
  width: 80%;
  margin: auto;
  background: #50aa82;
  padding: 20px;
}

.pie h2 {
  background: #50aa82;
  text-align: center;
  font-size: 15px;
  font-family: 'Quetsail', sans-serif;
}

.contenedor {
	max-width: 1200px;
	width: 90%;
	margin: auto;
}

/* --- --- CONTENEDOR PRINCIPAL --- --- */

.contenido-principal {
	margin-bottom: 50px;
	display: flex;
	align-items: center;
}

.contenido-principal__imagen {
	vertical-align: top;
	margin-right: 20px;
	width: 50%;
	max-width: 550px;
}

.contenido-principal__contenedor {
	width: 50%;
}

.contenido-principal__titulo {
	font-weight: normal;
	font-size: 28px;
  text-align: center;
}

.contenido-principal__resumen {
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
	color: #CFCFCF;
}

/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: #fff;
	opacity: 20%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -30px;
}

.carousel__siguiente {
	right: -30px;
}

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #fff;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}
